<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <!-- 需要更改jdbcUrl的数据库名 -->
        <property name="jdbcUrl" value="jdbc:mysql://118.31.63.199:3306/ytx"/>
        <!-- 需要更改数据库登录名 -->
        <property name="user" value="root"/>
        <!-- 需要更改数据库登录登录密码 -->
        <property name="password" value="123456"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 需要配置mybatis.cfg.xml -->
        <property name="configLocation" value="classpath:mybatis.cfg.xml"/>
    </bean>
    <!-- 声明式事务配置 -->

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>

    <tx:annotation-driven></tx:annotation-driven>

</beans>