<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="connectFactory"/>
    </bean>

    <bean id="connectFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!-- 需要配置Redis服务器的IP -->
        <property name="hostName" value="118.31.63.199"/>
        <!-- 需要配置Redis服务器的端口，默认6379 -->
        <property name="port" value="6379"/>
        <!-- 需要配置Redis服务器的登录密码 -->
        <property name="password" value="641991"/>
    </bean>

</beans>