<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youtx.rent.dao.LandlordOrderMapper">
  <resultMap id="BaseResultMap" type="com.youtx.rent.entity.LandlordOrder">
    <id column="landlord_order_id" jdbcType="INTEGER" property="landlordOrderId" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="order_reason" jdbcType="VARCHAR" property="orderReason" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="schedule_id" jdbcType="INTEGER" property="scheduleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    landlord_order_id, order_num, order_time, order_status, order_reason, room_id, schedule_id, 
    user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ytx_landlord_order
    where landlord_order_id = #{landlordOrderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ytx_landlord_order
    where landlord_order_id = #{landlordOrderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youtx.rent.entity.LandlordOrder">
    insert into ytx_landlord_order (landlord_order_id, order_num, order_time, 
      order_status, order_reason, room_id, 
      schedule_id, user_id)
    values (#{landlordOrderId,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{orderStatus,jdbcType=VARCHAR}, #{orderReason,jdbcType=VARCHAR}, #{roomId,jdbcType=INTEGER}, 
      #{scheduleId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.youtx.rent.entity.LandlordOrder">
    insert into ytx_landlord_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="landlordOrderId != null">
        landlord_order_id,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="orderReason != null">
        order_reason,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="scheduleId != null">
        schedule_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="landlordOrderId != null">
        #{landlordOrderId,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderReason != null">
        #{orderReason,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="scheduleId != null">
        #{scheduleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youtx.rent.entity.LandlordOrder">
    update ytx_landlord_order
    <set>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderReason != null">
        order_reason = #{orderReason,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="scheduleId != null">
        schedule_id = #{scheduleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where landlord_order_id = #{landlordOrderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youtx.rent.entity.LandlordOrder">
    update ytx_landlord_order
    set order_num = #{orderNum,jdbcType=INTEGER},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      order_reason = #{orderReason,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=INTEGER},
      schedule_id = #{scheduleId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where landlord_order_id = #{landlordOrderId,jdbcType=INTEGER}
  </update>
</mapper>