<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youtx.rent.dao.LodgerOpinionMapper">
  <resultMap id="BaseResultMap" type="com.youtx.rent.entity.LodgerOpinion">
    <id column="lodger_opinion_id" jdbcType="INTEGER" property="lodgerOpinionId" />
    <result column="opinion_content" jdbcType="VARCHAR" property="opinionContent" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="lodger_id" jdbcType="INTEGER" property="lodgerId" />
    <result column="landlord_id" jdbcType="INTEGER" property="landlordId" />
  </resultMap>
  <sql id="Base_Column_List">
    lodger_opinion_id, opinion_content, room_id, lodger_id, landlord_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ytx_lodger_opinion
    where lodger_opinion_id = #{lodgerOpinionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ytx_lodger_opinion
    where lodger_opinion_id = #{lodgerOpinionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youtx.rent.entity.LodgerOpinion">
    insert into ytx_lodger_opinion (lodger_opinion_id, opinion_content, 
      room_id, lodger_id, landlord_id
      )
    values (#{lodgerOpinionId,jdbcType=INTEGER}, #{opinionContent,jdbcType=VARCHAR}, 
      #{roomId,jdbcType=INTEGER}, #{lodgerId,jdbcType=INTEGER}, #{landlordId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.youtx.rent.entity.LodgerOpinion">
    insert into ytx_lodger_opinion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lodgerOpinionId != null">
        lodger_opinion_id,
      </if>
      <if test="opinionContent != null">
        opinion_content,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="lodgerId != null">
        lodger_id,
      </if>
      <if test="landlordId != null">
        landlord_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lodgerOpinionId != null">
        #{lodgerOpinionId,jdbcType=INTEGER},
      </if>
      <if test="opinionContent != null">
        #{opinionContent,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="lodgerId != null">
        #{lodgerId,jdbcType=INTEGER},
      </if>
      <if test="landlordId != null">
        #{landlordId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youtx.rent.entity.LodgerOpinion">
    update ytx_lodger_opinion
    <set>
      <if test="opinionContent != null">
        opinion_content = #{opinionContent,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="lodgerId != null">
        lodger_id = #{lodgerId,jdbcType=INTEGER},
      </if>
      <if test="landlordId != null">
        landlord_id = #{landlordId,jdbcType=INTEGER},
      </if>
    </set>
    where lodger_opinion_id = #{lodgerOpinionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youtx.rent.entity.LodgerOpinion">
    update ytx_lodger_opinion
    set opinion_content = #{opinionContent,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=INTEGER},
      lodger_id = #{lodgerId,jdbcType=INTEGER},
      landlord_id = #{landlordId,jdbcType=INTEGER}
    where lodger_opinion_id = #{lodgerOpinionId,jdbcType=INTEGER}
  </update>
</mapper>