<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youtx.rent.dao.PictureMapper">
  <resultMap id="BaseResultMap" type="com.youtx.rent.entity.Picture">
    <id column="pic_id" jdbcType="INTEGER" property="picId" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="pic_desc" jdbcType="VARCHAR" property="picDesc" />
    <result column="pic_type" jdbcType="VARCHAR" property="picType" />
  </resultMap>
  <sql id="Base_Column_List">
    pic_id, pic_name, room_id, pic_desc, pic_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ytx_picture
    where pic_id = #{picId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ytx_picture
    where pic_id = #{picId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youtx.rent.entity.Picture">
    insert into ytx_picture (pic_id, pic_name, room_id, 
      pic_desc, pic_type)
    values (#{picId,jdbcType=INTEGER}, #{picName,jdbcType=VARCHAR}, #{roomId,jdbcType=INTEGER}, 
      #{picDesc,jdbcType=VARCHAR}, #{picType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.youtx.rent.entity.Picture">
    insert into ytx_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="picId != null">
        pic_id,
      </if>
      <if test="picName != null">
        pic_name,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="picDesc != null">
        pic_desc,
      </if>
      <if test="picType != null">
        pic_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="picId != null">
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="picName != null">
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="picDesc != null">
        #{picDesc,jdbcType=VARCHAR},
      </if>
      <if test="picType != null">
        #{picType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youtx.rent.entity.Picture">
    update ytx_picture
    <set>
      <if test="picName != null">
        pic_name = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="picDesc != null">
        pic_desc = #{picDesc,jdbcType=VARCHAR},
      </if>
      <if test="picType != null">
        pic_type = #{picType,jdbcType=VARCHAR},
      </if>
    </set>
    where pic_id = #{picId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youtx.rent.entity.Picture">
    update ytx_picture
    set pic_name = #{picName,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=INTEGER},
      pic_desc = #{picDesc,jdbcType=VARCHAR},
      pic_type = #{picType,jdbcType=VARCHAR}
    where pic_id = #{picId,jdbcType=INTEGER}
  </update>
</mapper>