<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youtx.rent.dao.RoomDescMapper">
  <resultMap id="BaseResultMap" type="com.youtx.rent.entity.RoomDesc">
    <id column="desc_id" jdbcType="INTEGER" property="descId" />
    <result column="desc_title" jdbcType="VARCHAR" property="descTitle" />
    <result column="desc_remark" jdbcType="VARCHAR" property="descRemark" />
    <result column="desc_introduce" jdbcType="VARCHAR" property="descIntroduce" />
    <result column="desc_traffic" jdbcType="VARCHAR" property="descTraffic" />
    <result column="desc_life" jdbcType="VARCHAR" property="descLife" />
    <result column="desc_view" jdbcType="VARCHAR" property="descView" />
    <result column="desc_other" jdbcType="VARCHAR" property="descOther" />
    <result column="desc_tag" jdbcType="VARCHAR" property="descTag" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
  </resultMap>
  <sql id="Base_Column_List">
    desc_id, desc_title, desc_remark, desc_introduce, desc_traffic, desc_life, desc_view, 
    desc_other, desc_tag, room_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ytx_room_desc
    where desc_id = #{descId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ytx_room_desc
    where desc_id = #{descId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youtx.rent.entity.RoomDesc">
    insert into ytx_room_desc (desc_id, desc_title, desc_remark, 
      desc_introduce, desc_traffic, desc_life, 
      desc_view, desc_other, desc_tag, 
      room_id)
    values (#{descId,jdbcType=INTEGER}, #{descTitle,jdbcType=VARCHAR}, #{descRemark,jdbcType=VARCHAR}, 
      #{descIntroduce,jdbcType=VARCHAR}, #{descTraffic,jdbcType=VARCHAR}, #{descLife,jdbcType=VARCHAR}, 
      #{descView,jdbcType=VARCHAR}, #{descOther,jdbcType=VARCHAR}, #{descTag,jdbcType=VARCHAR}, 
      #{roomId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.youtx.rent.entity.RoomDesc">
    insert into ytx_room_desc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="descId != null">
        desc_id,
      </if>
      <if test="descTitle != null">
        desc_title,
      </if>
      <if test="descRemark != null">
        desc_remark,
      </if>
      <if test="descIntroduce != null">
        desc_introduce,
      </if>
      <if test="descTraffic != null">
        desc_traffic,
      </if>
      <if test="descLife != null">
        desc_life,
      </if>
      <if test="descView != null">
        desc_view,
      </if>
      <if test="descOther != null">
        desc_other,
      </if>
      <if test="descTag != null">
        desc_tag,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="descId != null">
        #{descId,jdbcType=INTEGER},
      </if>
      <if test="descTitle != null">
        #{descTitle,jdbcType=VARCHAR},
      </if>
      <if test="descRemark != null">
        #{descRemark,jdbcType=VARCHAR},
      </if>
      <if test="descIntroduce != null">
        #{descIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="descTraffic != null">
        #{descTraffic,jdbcType=VARCHAR},
      </if>
      <if test="descLife != null">
        #{descLife,jdbcType=VARCHAR},
      </if>
      <if test="descView != null">
        #{descView,jdbcType=VARCHAR},
      </if>
      <if test="descOther != null">
        #{descOther,jdbcType=VARCHAR},
      </if>
      <if test="descTag != null">
        #{descTag,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youtx.rent.entity.RoomDesc">
    update ytx_room_desc
    <set>
      <if test="descTitle != null">
        desc_title = #{descTitle,jdbcType=VARCHAR},
      </if>
      <if test="descRemark != null">
        desc_remark = #{descRemark,jdbcType=VARCHAR},
      </if>
      <if test="descIntroduce != null">
        desc_introduce = #{descIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="descTraffic != null">
        desc_traffic = #{descTraffic,jdbcType=VARCHAR},
      </if>
      <if test="descLife != null">
        desc_life = #{descLife,jdbcType=VARCHAR},
      </if>
      <if test="descView != null">
        desc_view = #{descView,jdbcType=VARCHAR},
      </if>
      <if test="descOther != null">
        desc_other = #{descOther,jdbcType=VARCHAR},
      </if>
      <if test="descTag != null">
        desc_tag = #{descTag,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
    </set>
    where desc_id = #{descId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youtx.rent.entity.RoomDesc">
    update ytx_room_desc
    set desc_title = #{descTitle,jdbcType=VARCHAR},
      desc_remark = #{descRemark,jdbcType=VARCHAR},
      desc_introduce = #{descIntroduce,jdbcType=VARCHAR},
      desc_traffic = #{descTraffic,jdbcType=VARCHAR},
      desc_life = #{descLife,jdbcType=VARCHAR},
      desc_view = #{descView,jdbcType=VARCHAR},
      desc_other = #{descOther,jdbcType=VARCHAR},
      desc_tag = #{descTag,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=INTEGER}
    where desc_id = #{descId,jdbcType=INTEGER}
  </update>
</mapper>